{{header}}
{{#class_imports}}
#import "{{.}}.h"
{{/class_imports}}

{{#props}}
static MTPropSpec* s_{{name}}Spec = nil;
{{/props}}

@implementation {{name}} {
@protected
{{#props}}
    {{typename}}* _{{name}};
{{/props}}
}

{{#props}}
{{#value_type.is_pageref}}
- ({{value_type.name}}){{name}} { return ((MTPageRef*) _{{name}}.value).page; }
{{/value_type.is_pageref}}
{{^value_type.is_pageref}}
- ({{value_type.name}}){{name}} { return _{{name}}.value; }
{{/value_type.is_pageref}}
{{/props}}

- (NSArray*)props { return MT_PROPS({{#props}}_{{name}}, {{/props}}); }

- (id)init {
    if ((self = [super init])) {
    {{#props}}
        _{{name}} = [[{{typename}} alloc] initWithPropSpec:s_{{name}}Spec];
    {{/props}}
    }
    return self;
}

+ (void)initialize {
    if (self == [{{name}} class]) {
    {{#props}}
        s_{{name}}Spec = [[MTPropSpec alloc] initWithName:@"{{name}}"
            annotations:{{#has_annos}}@{ {{#annotations}}@"{{name}}":{{value}},{{/annotations}} }{{/has_annos}}{{^has_annos}}nil{{/has_annos}}
            valueClasses:{{#value_type}}{{#is_primitive}}nil{{/is_primitive}}{{^is_primitive}}@[ {{#all_typenames}}[{{.}} class],{{/all_typenames}} ]{{/is_primitive}}{{/value_type}} ];
    {{/props}}
    }
}

@end
