{{header}}
{{#header_imports}}
#import "{{.}}.h"
{{/header_imports}}

{{#forward_decls}}
@class {{.}};
{{/forward_decls}}

@interface {{name}} : {{superclass}}

{{#props}}
@property (nonatomic,readonly) {{value_type.name}} {{name}};
{{/props}}

@end
