{{header}}
{{#class_imports}}
#import "{{.}}.h"
{{/class_imports}}

@implementation {{name}} {
@protected
{{#props}}
    {{actual_type}}* _{{name}};
{{/props}}
}

{{#props}}
- ({{exposed_type}}){{name}} { return _{{name}}.value; }
{{/props}}

- (NSArray*)props { return MT_PROPS({{#props}}_{{name}}, {{/props}}); }

- (id)init {
    if ((self = [super init])) {
    {{#props}}
        _{{name}} = [[{{actual_type}} alloc] initWithName:@"{{name}}"{{^is_primitive}} nullable:{{nullable}}{{/is_primitive}}{{#has_subtype}} subType:[{{subtype_class}} class]{{/has_subtype}}];
    {{/props}}
    }
    return self;
}
@end

