{{header}}

package {{package}} {

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}} extends {{superclass}}
{
    {{#props}}
    public function get {{name}} () :{{value_type.name}} { return _{{name}}.value; }
    {{/props}}

    override public function get props () :Array { return super.props.concat([{{#props}}_{{name}},{{/props}}]); }

    {{#props}}
    protected var _{{name}} :{{typename}} = new {{typename}}(s_{{name}}Spec);
    {{/props}}

    {{#props}}
    protected static const s_{{name}}Spec :PropSpec = new PropSpec("{{name}}");
    {{/props}}
}

}
