{{header}}
package {{namespace}} {

{{#imports}}
import {{.}};
{{/imports}}

public class {{name}} extends {{superclass}}
{
    {{#props}}
{{#value_type.is_pageref}}
    public function get {{name}} () :{{value_type.name}} { return PageRef(_{{name}}.value).page; }
{{/value_type.is_pageref}}
{{^value_type.is_pageref}}
    public function get {{name}} () :{{value_type.name}} { return _{{name}}.value; }
{{/value_type.is_pageref}}
    {{/props}}

    override public function get props () :Vector.<Prop> { return super.props.concat(new <Prop>[ {{#props}}_{{name}}, {{/props}}]); }

    {{#props}}
    protected var _{{name}} :{{typename}} = new {{typename}}(s_{{name}}Spec);
    {{/props}}

    {{#props}}
    protected static const s_{{name}}Spec :PropSpec = new PropSpec("{{name}}", {{annotation_text}}, {{#value_type}}{{#is_primitive}}null{{/is_primitive}}{{^is_primitive}}[ {{#typenames}}{{.}}, {{/typenames}}]{{/is_primitive}}{{/value_type}});
    {{/props}}
}

}
