{{header}}
package {{namespace}} {

{{#page_types}}
import {{.}};
{{/page_types}}

public class MicrotomePages {
    public static function get pageClasses () :Vector.<Class> { return PAGE_CLASSES; }

    protected static const PAGE_CLASSES :Vector.<Class> = new <Class>[
    {{#page_types}}
        {{.}},
    {{/page_types}}
    ];
}

}
