{{header}}
package {{namespace}} {

{{#page_types}}
import {{.}};
{{/page_types}}

public class MicrotomePages {
    public static function pageClasses () :Vector.<Class> { return PAGES; }

    protected static const PAGES :Vector.<Class> = new <Class>[
    {{#page_types}}
        {{.}},
    {{/page_types}}
    ];
}

}
