{{header}}

package {{namespace}} {

// GENERATED IMPORTS START
{{#tome_types}}
import {{.}};
{{/tome_types}}
// GENERATED IMPORTS END

// GENERATED CLASS_INTRO START
public class MicrotomeTypes
{
// GENERATED CLASS_INTRO END

// GENERATED CLASS_BODY START
    public static function get tomeClasses () :Vector.<Class> { return TOME_CLASSES; }

    protected static const TOME_CLASSES :Vector.<Class> = new <Class>[
    {{#tome_types}}
        {{.}},
    {{/tome_types}}
    ];
// GENERATED CLASS_BODY END

// GENERATED CLASS_OUTRO START
}
}
// GENERATED CLASS_OUTRO END
