{{header}}

package {{namespace}} {

// GENERATED IMPORTS START
{{#page_types}}
import {{.}};
{{/page_types}}
// GENERATED IMPORTS END

// GENERATED CLASS_INTRO START
public class MicrotomePages
{
// GENERATED CLASS_INTRO END

// GENERATED FUNCTIONS START
    public static function get pageClasses () :Vector.<Class> { return PAGE_CLASSES; }
// GENERATED FUNCTIONS END

// GENERATED STATICS START
    protected static const PAGE_CLASSES :Vector.<Class> = new <Class>[
    {{#page_types}}
        {{.}},
    {{/page_types}}
    ];
// GENERATED STATICS END

// GENERATED CLASS_OUTRO START
}
}
// GENERATED CLASS_OUTRO END
