{{header}}

package {{namespace}} {

// GENERATED IMPORTS START
{{#class_imports}}
import {{.}};
{{/class_imports}}
// GENERATED IMPORTS END

// GENERATED CLASS_INTRO START
public class {{class_name}} extends {{superclass}} implements {{interface_name}}
{
// GENERATED CLASS_INTRO END

// GENERATED CONSTRUCTOR START
    public function {{class_name}} (name :String) {
        super(name);
        initProps();
    }
// GENERATED CONSTRUCTOR END

// GENERATED PROPS START
    {{#props}}
{{#value_type.is_tomeref}}
    public function get {{mutable_name}} () :{{value_type.mutable_name}} { const ref :TomeRef = _{{name}}.value; return (ref != null ? ref.tome : null); }
    public function get {{name}} () :{{value_type.name}} { return this.{{mutable_name}}; }
    public function set {{name}} (val :{{value_type.name}}) :void { _{{name}}.value = (val != null ? TomeRef.fromTome(val) : null); }
{{/value_type.is_tomeref}}
{{^value_type.is_tomeref}}
{{#value_type.is_mutable}}
    public function get {{mutable_name}} () :{{value_type.mutable_name}} { return _{{name}}.value; }
{{/value_type.is_mutable}}
    public function get {{name}} () :{{value_type.name}} { return _{{name}}.value; }
    public function set {{name}} (val :{{value_type.name}}) :void { _{{name}}.value = val; }
{{/value_type.is_tomeref}}
    {{/props}}

    override public function get props () :Vector.<Prop> { return super.props.concat(new <Prop>[ {{#props}}_{{name}}, {{/props}}]); }

    private function initProps () :void {
        if (!s_propSpecsInited) {
            s_propSpecsInited = true;
            {{#props}}
            s_{{name}}Spec = new PropSpec("{{name}}", {{annotation_text}}, {{#value_type}}[ {{#all_typenames}}{{.}}, {{/all_typenames}}]{{/value_type}});
            {{/props}}
        }
        {{#props}}
        _{{name}} = new {{typename}}(this, s_{{name}}Spec);
        {{/props}}
    }
// GENERATED PROPS END

// GENERATED IVARS START
    {{#props}}
    protected var _{{name}} :{{typename}};
    {{/props}}
// GENERATED IVARS END

// GENERATED STATICS START
    private static var s_propSpecsInited :Boolean;
    {{#props}}
    private static var s_{{name}}Spec :PropSpec;
    {{/props}}
// GENERATED STATICS END

// GENERATED CLASS_OUTRO START
}
}
// GENERATED CLASS_OUTRO END
