{{header}}

# GENERATED IMPORTS START
{{#tome_imports}}
from {{package}} import {{name}}
{{/tome_imports}}
# GENERATED IMPORTS END

# GENERATED FUNCTIONS START
def get_tome_classes():
    return [
    {{#tome_imports}}
        {{name}},
    {{/tome_imports}}
    ]
# GENERATED FUNCTIONS END
