{{header}}

# GENERATED IMPORTS START
{{#page_imports}}
from {{package}} import {{name}}
{{/page_imports}}
# GENERATED IMPORTS END

# GENERATED FUNCTIONS START
def get_page_classes():
    return [
    {{#page_imports}}
        {{name}},
    {{/page_imports}}
    ]
# GENERATED FUNCTIONS END
